In [1]:
import pandas as pd
import numpy as np

In [36]:
walking = pd.read_csv('./walking_2018.csv',encoding='cp1252') #인천공항출국장_도보소요시간
walking.head() #인코딩 에러;

  terminal Ãâ±¹Àå  gate  minute
0       T1      2     1       7
1       T1      2     2       7
2       T1      2     3       7
3       T1      2     5       6
4       T1      2     6       7

In [37]:
walking.columns = ['terminal', '출국장','gate','minute']

In [38]:
walking.head()

  terminal 출국장  gate  minute
0       T1   2     1       7
1       T1   2     2       7
2       T1   2     3       7
3       T1   2     5       6
4       T1   2     6       7

In [45]:
walking.loc[87:, 'terminal'] = '탑승동'

In [46]:
#도보 평균소요시간
walking.minute.mean()

8.35897435897436

In [47]:
#terminal별 평균소요시간
walking.groupby(['terminal'])['minute'].mean()

terminal
T1      5.595745
T2      5.825000
탑승동    16.066667
Name: minute, dtype: float64

In [48]:
walking.terminal.value_counts()

T1     47
T2     40
탑승동    30
Name: terminal, dtype: int64