In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('../data/train.csv')

# train data

In [12]:
print('train data shape : ',train.shape)

train data shape :  (15932992, 12)

In [4]:
train.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,008UN2RY0DMY,cd10940538005,1541031243,1,search for destination,"Rochester, USA",US,"Rochester, USA",desktop,NaN,NaN,NaN
1,008UN2RY0DMY,cd10940538005,1541031463,2,change of sort order,interaction sort button,US,"Rochester, USA",desktop,NaN,NaN,NaN
2,008UN2RY0DMY,cd10940538005,1541031473,3,change of sort order,distance and recommended,US,"Rochester, USA",desktop,NaN,NaN,NaN
3,008UN2RY0DMY,cd10940538005,1541031473,4,filter selection,Focus on Distance,US,"Rochester, USA",desktop,Focus on Distance,NaN,NaN
4,008UN2RY0DMY,cd10940538005,1541031550,5,interaction item image,57103,US,"Rochester, USA",desktop,NaN,NaN,NaN

## na

In [6]:
train.isnull().sum()

user_id                   0
session_id                0
timestamp                 0
step                      0
action_type               0
reference                 0
platform                  0
city                      0
device                    0
current_filters    15163375
impressions        14346406
prices             14346406
dtype: int64

In [6]:
print('current_filters NA 개수 : ', train.current_filters.isnull().sum(), 'NA 비율', train.current_filters.isnull().sum()/len(train))
print('impressions NA 개수 : ', train.impressions.isnull().sum(), 'NA 비율', train.impressions.isnull().sum()/len(train))
print('prices NA 개수 : ', train.prices.isnull().sum(), 'NA 비율', train.prices.isnull().sum()/len(train))

current_filters NA 개수 :  15163375 NA 비율 0.951696643041056
impressions NA 개수 :  14346406 NA 비율 0.9004213395701197
prices NA 개수 :  14346406 NA 비율 0.9004213395701197

In [15]:
print('prices NA인 경우와 impressions NA인 경우가 같다 ') if len(train[(train.prices.isna()) & (train.impressions.isna())]) == train.prices.isna().sum() else print('다르다!')

prices NA인 경우와 impressions NA인 경우가 같다

## count

### current_filters

In [20]:
train.current_filters.value_counts()

Sort by Price                                                                                                                                  77826
Focus on Distance                                                                                                                              42332
Best Value                                                                                                                                     40861
5 Star|Hotel|Motel|Resort|Hostal (ES)                                                                                                          24216
5 Star|4 Star|Hotel|Motel|Resort|Hostal (ES)                                                                                                   20014
5 Star|4 Star|3 Star|Hotel|Motel|Resort|Hostal (ES)                                                                                            16784
Excellent Rating                                                                                                                               12163
Very Good Rating                                                                                                                               11686
Sort By Distance                                                                                                                               11195
House / Apartment|Serviced Apartment                                                                                                           10169
5 Star|Hotel|Motel|Resort|Hostal (ES)|4 Star                                                                                                    9888
Hotel                                                                                                                                           9611
Hotel|Resort                                                                                                                                    8692
Focus on Rating                                                                                                                                 8591
Free WiFi (Combined)                                                                                                                            7969
Breakfast Included                                                                                                                              7465
Good Rating                                                                                                                                     7058
5 Star                                                                                                                                          6162
Sort By Rating                                                                                                                                  6083
4 Star                                                                                                                                          5862
Swimming Pool (Combined Filter)                                                                                                                 5272
Car Park                                                                                                                                        5081
5 Star|Hotel|Motel|Resort|Hostal (ES)|4 Star|3 Star                                                                                             5060
House / Apartment                                                                                                                               4996
5 Star|4 Star|3 Star|2 Star|1 Star|Hotel|Motel|Resort|Hostal (ES)                                                                               4978
5 Star|4 Star|3 Star|2 Star|Hotel|Motel|Resort|Hostal (ES)                                                                                      4706
Hotel Chain                                                                                                                                     4350
Pet Friendly                                                                                                                                    3614
3 Star                                                                                                                                          3556
Hotel|Resort|Hostal (ES)                                                                                                                        3458
                                                                                                                                               ...
5 Star|4 Star|3 Star|Very Good Rating|Breakfast Included|Sort by Price|Hotel                                                                       1
Excellent Rating|All Inclusive (Upon Inquiry)|5 Star                                                                                               1
5 Star|Hotel|Resort|Excellent Rating|Free WiFi (Combined)|Swimming Pool (Combined Filter)|Spa (Wellness Facility)                                  1
4 Star|5 Star|Sort by Price|Good Rating|3 Star                                                                                                     1
Excellent Rating|Motel|Resort|5 Star                                                                                                               1
Free WiFi (Combined)|Car Park|5 Star|4 Star|3 Star|Hotel|Balcony|Breakfast Included|Best Value                                                     1
Hotel|Motel|Resort|Hostal (ES)|House / Apartment|Serviced Apartment|Bed & Breakfast                                                                1
Free WiFi (Combined)|Swimming Pool (Combined Filter)|Pet Friendly|Best Value                                                                       1
Sort by Price|Free WiFi (Combined)|4 Star|3 Star|5 Star|2 Star|Excellent Rating                                                                    1
Car Park|Hotel|Resort|Focus on Distance|Breakfast Included                                                                                         1
Focus on Distance|Restaurant|Free WiFi (Combined)|Air Conditioning                                                                                 1
Swimming Pool (Combined Filter)|Free WiFi (Combined)|Car Park|Hotel|Sort by Price                                                                  1
Very Good Rating|Sort By Popularity|4 Star                                                                                                         1
Pet Friendly|Air Conditioning|Kitchen                                                                                                              1
Focus on Distance|House / Apartment|Serviced Apartment|Hotel|Resort|Free WiFi (Combined)|Swimming Pool (Combined Filter)|Kitchen|Restaurant        1
Sort by Price|Car Park|Free WiFi (Combined)|Spa (Wellness Facility)|Breakfast Included|4 Star|5 Star                                               1
Hotel|Hostel|1 Star|Excellent Rating                                                                                                               1
5 Star|4 Star|3 Star|Hotel|Very Good Rating|Focus on Distance|Breakfast Included                                                                   1
Hotel|Free WiFi (Combined)|Swimming Pool (Combined Filter)|Sort By Distance                                                                        1
Hotel|Motel|3 Star|2 Star|Focus on Distance                                                                                                        1
Hotel|Hostal (ES)|Focus on Distance|Excellent Rating|Shower                                                                                        1
Hostal (ES)|Guest House|Hotel|Sort By Distance                                                                                                     1
Breakfast Included|Hotel|Hostal (ES)|4 Star|5 Star                                                                                                 1
Restaurant|Car Park|Swimming Pool (Combined Filter)|Reception (24/7)                                                                               1
5 Star|4 Star|Hotel|Motel|Resort|Hostal (ES)|Free WiFi (Combined)|Pet Friendly|Reception (24/7)|Very Good Rating                                   1
Excellent Rating|Free WiFi (Combined)|Hotel|4 Star|3 Star|Focus on Distance|Car Park|Spa (Wellness Facility)                                       1
Free WiFi (Combined)|Air Conditioning|Swimming Pool (Combined Filter)|Restaurant|Reception (24/7)|All Inclusive (Upon Inquiry)|Hotel|Resort        1
Hotel|5 Star|Good Rating|Free WiFi (Combined)|Air Conditioning                                                                                     1
Swimming Pool (Combined Filter)|5 Star|4 Star|Very Good Rating|Sort by Price                                                                       1
Car Park|Free WiFi (Combined)|Focus on Distance|5 Star|4 Star|Hotel|Motel|Hostal (ES)                                                              1
Name: current_filters, Length: 60986, dtype: int64

In [22]:
print('current_filters unique 개수 : ',len(train.current_filters.value_counts()))

current_filters unique 개수 :  60986

In [29]:
from collections import Counter

In [30]:
filter_count = [] #filter 개수 저장

for val in train.current_filters.value_counts().index :
    filter_count.append(val.count('|') + 1)
    
Counter(filter_count)

Counter({1: 188,
         5: 11756,
         6: 8217,
         7: 5492,
         2: 2758,
         9: 3003,
         8: 3972,
         3: 9201,
         10: 1901,
         4: 12948,
         11: 886,
         14: 81,
         12: 364,
         15: 40,
         13: 150,
         17: 7,
         18: 3,
         16: 19})

### user_id

In [33]:
print('user_id 개수 : ',len(train.user_id.unique()))

user_id 개수 :  730803

In [35]:
train.user_id.value_counts()

6JWWFFNUMY6Y    6230
0H73OEP6Z71O    4084
7K4V4W05S7X7    4077
SX3I42SKZEVH    3876
Q46K4RJHTQFR    3810
G7U04A2HQFSG    3607
M8E88OK4G3IE    3416
A5ZFRVCM2Z1L    3358
EQKV6819ZD7M    3320
CQM1034RBOZI    3141
9I2SR62HL6R2    3118
TQQQJ455X1PL    3085
086K0G3R63E6    3070
4687LWL3ICI7    2984
21XFHCJC0TK8    2856
CVY951QX5AXY    2825
2D0QI8LVF4IL    2800
PP8U3ABNV3TL    2748
R98ELQDZ8VN9    2706
JAVOL38D3IW1    2695
BC1DCZHKY1Q2    2648
KP9AJQNLOR8N    2570
VQQL3J9H9EZE    2551
6R0P0IZ7UE65    2531
NOMGC52UUP28    2518
PCH67PSUL5AB    2504
3KFPGH0Z3TSJ    2496
ZGXMOMZDXE73    2492
CIIC4XZEIYMF    2413
9P0MFVWPDARF    2354
                ...
LDY9N54UDMVL       1
W90ODS38MXHP       1
P1KU1HQORIM3       1
YWZ0X6642JCD       1
MK86WANMGCWQ       1
XQOAR12D7710       1
PGL9L2D1X8QA       1
UOMLOC619X6P       1
8RY8WDYX63MI       1
WU0AF2NCFFQX       1
VFIXJCMHU1O4       1
O7CCZIMIBRBW       1
Q2N3EPILXSDR       1
CA5Z04K7X7MX       1
GY5C21JCS6CR       1
1ZWRICBGPD03       1
OP08O208LB39       1
FL1H35KPKJAZ       1
AL65B9RZ8L0C       1
79894YC0G347       1
31E6UQ2SGMV8       1
TTM3ER3MOEMN       1
KJZ1NUIM9JUP       1
5EBTDHY1M4MP       1
91F340U5DF15       1
S76WVYV9SSFC       1
H35X66S3N67W       1
A9C4JRRJLCGO       1
8YDV35GGAILP       1
WU8GTBNR7FOJ       1
Name: user_id, Length: 730803, dtype: int64

# test

In [36]:
test = pd.read_csv('../data/test.csv')

In [37]:
print('test data shape : ',test.shape)

test data shape :  (3782335, 12)

In [38]:
test.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,000324D9BBUC,89643988fdbfb,1541593272,1,search for destination,"Budapest, Hungary",BG,"Budapest, Hungary",desktop,NaN,NaN,NaN
1,000324D9BBUC,89643988fdbfb,1541593820,2,filter selection,Car Park,BG,"Budapest, Hungary",desktop,Car Park,NaN,NaN
2,000324D9BBUC,89643988fdbfb,1541593882,3,interaction item image,1000915,BG,"Budapest, Hungary",desktop,NaN,NaN,NaN
3,000324D9BBUC,89643988fdbfb,1541593882,4,interaction item image,1000915,BG,"Budapest, Hungary",desktop,NaN,NaN,NaN
4,000324D9BBUC,89643988fdbfb,1541593902,5,interaction item image,1000915,BG,"Budapest, Hungary",desktop,NaN,NaN,NaN

## na

In [40]:
test.isnull().sum()

user_id                  0
session_id               0
timestamp                0
step                     0
action_type              0
reference           261731
platform                 0
city                     0
device                   0
current_filters    3570444
impressions        3253556
prices             3253556
dtype: int64

In [41]:
print('reference NA 개수 : ', test.reference.isnull().sum(), 'NA 비율', test.reference.isnull().sum()/len(test))
print('current_filters NA 개수 : ', test.current_filters.isnull().sum(), 'NA 비율', test.current_filters.isnull().sum()/len(test))
print('impressions NA 개수 : ', test.impressions.isnull().sum(), 'NA 비율', test.impressions.isnull().sum()/len(test))
print('prices NA 개수 : ', test.prices.isnull().sum(), 'NA 비율', test.prices.isnull().sum()/len(test))

reference NA 개수 :  261731 NA 비율 0.06919825980512039
current_filters NA 개수 :  3570444 NA 비율 0.9439787855914402
impressions NA 개수 :  3253556 NA 비율 0.8601977349970322
prices NA 개수 :  3253556 NA 비율 0.8601977349970322

In [42]:
print('user_id 개수 : ',len(test.user_id.unique()))

user_id 개수 :  250852

# train & test

## user_id

In [43]:
print('train & test의 user_id 가 겹치지 않는다.')if len(set(train.user_id) - set(test.user_id)) == 0 else ('겹친다.')

'겹친다.'

In [47]:
print('train에만 있는 user_id 개수',len(set(train.user_id) - set(test.user_id)))
print('test에만 있는 user_id 개수',len(set(test.user_id) - set(train.user_id)))
print('train, test 모두 포함하는 user_id 개수', len(set(train.user_id) & set(test.user_id)))

train에만 있는 user_id 개수 697189
test에만 있는 user_id 개수 217238
train, test 모두 포함하는 user_id 개수 33614

# item_meta

In [49]:
item_metadata = pd.read_csv('../data/item_metadata.csv')

In [50]:
print('item_metadata data shape : ',item_metadata.shape)

item_metadata data shape :  (927142, 2)

In [51]:
item_metadata.head()

   item_id                                         properties
0     5121  Terrace (Hotel)|Lift|Childcare|From 3 Stars|Ra...
1     5555  Terrace (Hotel)|Lift|From 3 Stars|Radio|From 4...
2     5684  Terrace (Hotel)|Lift|From 3 Stars|Radio|4 Star...
3     5777  Lift|Childcare|From 3 Stars|Radio|4 Star|From ...
4     6044  Terrace (Hotel)|Childcare|From 3 Stars|Radio|B...

In [53]:
print('item metadata는 item_id로 유니크한 값을 갖는다') if len(item_metadata.item_id.unique()) == len(item_metadata) else print('not unique')

item metadata는 item_id로 유니크한 값을 갖는다

In [54]:
item_prop_count = [] #properties 개수 저장


for val in item_metadata.properties.value_counts().index :
    item_prop_count.append(val.count('|') + 1)
    
Counter(item_prop_count)

Counter({1: 37,
         2: 606,
         4: 4057,
         3: 1996,
         5: 7738,
         8: 9911,
         9: 10877,
         13: 10842,
         12: 10983,
         7: 9834,
         11: 11474,
         10: 11682,
         6: 10468,
         14: 10599,
         17: 12119,
         20: 13452,
         18: 12395,
         21: 13968,
         19: 12968,
         22: 14170,
         16: 11427,
         15: 10930,
         31: 13083,
         29: 14034,
         24: 14562,
         32: 12777,
         30: 13550,
         23: 14369,
         44: 7758,
         25: 14707,
         28: 14088,
         63: 2116,
         35: 11421,
         34: 11861,
         52: 4978,
         55: 3987,
         49: 5914,
         58: 3255,
         33: 12389,
         85: 237,
         60: 2702,
         59: 2962,
         51: 5332,
         45: 7233,
         27: 14352,
         41: 8686,
         38: 10104,
         26: 14528,
         53: 4548,
         42: 8498,
         37: 10346,
         79: 501,
         50: 5566,
         36: 10831,
         82: 273,
         61: 2541,
         46: 7072,
         43: 8048,
         65: 1784,
         47: 6604,
         39: 9582,
         70: 1180,
         73: 934,
         56: 3833,
         40: 9234,
         72: 965,
         62: 2310,
         64: 1931,
         66: 1618,
         54: 4429,
         74: 813,
         48: 6314,
         67: 1547,
         57: 3465,
         71: 1036,
         78: 497,
         69: 1207,
         77: 581,
         91: 96,
         101: 16,
         92: 71,
         68: 1394,
         84: 249,
         93: 62,
         86: 224,
         76: 664,
         81: 406,
         87: 193,
         80: 414,
         75: 729,
         83: 326,
         97: 31,
         88: 172,
         89: 126,
         109: 4,
         107: 4,
         90: 102,
         100: 18,
         108: 1,
         98: 30,
         95: 34,
         103: 7,
         94: 59,
         96: 42,
         102: 6,
         104: 7,
         99: 16,
         105: 7,
         112: 1,
         110: 2,
         106: 3})